a {
    cursor: pointer;
}

.showPass{
    margin: 15px;
}

.back-btn{
    margin-bottom: 25px;
}

.bg-container-contact100 {
    background-image: url(../../../assets/images/bg-01.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    top: 0;
    left: 0;
}

.contact100-form-title{
    background-image: url(../../../assets/images/bg-03.jpg)
}

.contact100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background:  rgba(70, 60, 60, 0.54);
    position: relative;
    z-index: 10;
}

.wrap-contact100 {
    width: 610px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    margin-top: 40px;
}

.contact100-form-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    min-height: 128px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    padding: 30px 15px 30px 15px;
}

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 57px 190px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
}

.label-input100 {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -150px;
    width: 130px;
}

input.input100 {
    height: 45px;
}

.input100 {
    font-size: 15px;
    color: #555555;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}

input {
    outline: none;
    border: none;
}

.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
}


.google{
    margin: 15px auto 0 auto;
    display: flex;
    align-items: center;
    padding-right: 50px;
    background: #DF4A32;
    color: #fff;
    border: 0;
}

.google i{
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 25px;
    border-right: #BE3F2B 2px solid;
}

.google:hover{
    background: rgb(221, 92, 73); 
}

.facebook{
    margin: 15px auto 0 auto;
    background: #4267B2;
    display: flex;
    align-items: center;
    padding-right: 34px;
    color: #fff;
    border: 0;
}

.facebook i {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 25px;
    border-right: rgb(40, 70, 131) 2px solid;
}

.facebook:hover{
    background: rgb(88, 120, 184)
}