<div class="main">
        <div *ngIf="auth.user | async; then authenticated else guest">
            <!-- template will replace this div -->
        </div>
    
        <!-- User NOT logged in -->
        <ng-template #guest>
            <h1>Hello from Angular App with Webpack</h1>
            <img src="../../../assets/images/angular.png">
            <h3>Hello, GUEST</h3>
            <p>Login to get started...</p>
        </ng-template>
    
        <!-- User logged in -->
        <ng-template #authenticated>
            <div *ngIf="auth.user | async as user">
                <h3>Hello, {{ user.displayName }}</h3>
                <p>UID: {{ user.uid }}</p>
                <img  [src]="user.photoURL">
            </div>
        </ng-template>
    </div>