<div class="bg-container-contact100">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<div class="contact100-form-title">
				<span>Зареєструватись</span>
			</div>

            <form class="contact100-form">
				<div class="wrap-input100">
					<!-- <span class="label-input100">Ваш емейл:</span> -->
					<input class="input100 " type="email" required placeholder="Ваш емейл">
				</div>

				<div class="wrap-input100">
					<!-- <span class="label-input100">Ваш пароль:</span> -->
					<input class="input100" type="password" required placeholder="Ваш пароль">
				</div>

				<div class="wrap-input100">
					<!-- <span class="label-input100">Повторіть пароль:</span> -->
					<input class="input100" type="password" required placeholder="Повторіть пароль">
                </div>

				<div class="container-contact100-form-btn">
					<input type="submit" class="contact100-form-btn" value="Зареєструватись">
				</div>
			</form>
		</div>
	</div>
</div>