<div class="bg-container-contact100">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<div class="contact100-form-title">
				<span>Зареєструватись</span>
			</div>

            <form [formGroup]="signupForm" (ngSubmit)="signup()" class="contact100-form">
				<div *ngIf="email.invalid && email.dirty">
						Your email doesn't look quite right...
				</div>
				<div class="wrap-input100">
					<span class="label-input100">Ваш емейл:</span>
					<input class="input100" formControlName="email" type="email" required placeholder="Ваш емейл">
				</div>
				
				<div *ngIf="password.invalid && password.touched">
					Password must be between 6 and 24 chars and have at least one number 
				</div>
				<div class="wrap-input100">
					<span class="label-input100">Ваш пароль:</span>
					<input class="input100" type="password" formControlName="password" required placeholder="Ваш пароль">
				</div>

				<div class="wrap-input100">
					<span class="label-input100">Повторіть пароль:</span>
					<input class="input100" type="password" required placeholder="Повторіть пароль">
                </div>

				<div class="container-contact100-form-btn">
					<input type="submit" class="contact100-form-btn" value="Зареєструватись" [disabled]="!signupForm.valid">
				</div>
			</form>
		</div>
	</div>
</div>