<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="" routerLinkActive="active" class="navbar-brand">Logo</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/sign-up" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Зареєструватись</a>
            </li>
            <li>
                <a routerLink="/sign-in" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Увійти</a>
            </li>
            <li *ngIf="auth.user | async as user ">
                <a (click)="auth.signOut()"><span class="glyphicon glyphicon-log-in"></span> Вийти</a>
            </li>
        </ul>
    </div>
</nav>